---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="main">
    <h1 class="title">Teste QRCODE Trydo</h1>
  </main>
</Layout>

<style>
  .main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title {
    font-size: 5rem;
    color: #333;
  }
</style>
